@* Views/Home/Index.cshtml
    Version: 1.0.0
    (c) 2024, Minh Tri Tran, with assistance from Google's Gemini - Licensed under CC BY 4.0
    https://creativecommons.org/licenses/by/4.0/
 *@
 
 @{
    ViewData["Title"] = "Movies Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Catalgoue</h1>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}
